# IAR Settings  
settings/*.crun  
settings/*.dbgdt  
settings/*.cspy  
settings/*.cspy.*  
settings/*.xcl  
settings/*.dni  
settings/*.wsdt  
settings/*.wspos 

*.dep 

# IAR Debug Exe  
[Ee]xe/
[Oo]bj/
[Ll]ist/


